.introduction-container {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;

    .left {
      float: left;
      // background-color: green;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .introduction {
        font-size: 2rem;
        width: 60%;
        margin-bottom: 1rem;

        .name{
          font-size: 3rem;
          font-weight: bold;
        }

        .resume-download-container {
          margin: 2rem;
          display: flex;
          width: 105%;
          
          .download {
            font-size: 1.5rem;
            border-color: white;
            border-style: dotted;
            width: 50%;
            margin-right: 1rem;
            cursor: pointer;
          }
          .download:hover {
            border-style: solid;
          }
          .social-icon {
            margin-right: 0.25rem;
            overflow:visible
          }
        }
      }
    }


    .right {
      float: right;
      // background-color: coral;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .terraria-man {
        height: 50%;
        width: 50%;
        opacity: 1;
      }
    }

    @media only screen and (max-width: 768px) {
      .left{
        position: absolute;
        height: 50%;
        width: 100%;
      }
      .right {
        position: absolute;
        top: 50%;
        height: 50%;
        width: 100%;
      }
      .introduction{
        font-size: 1.5rem;
        .name {
          font-size: 1rem;
        }
      }
    }
  }